/*
@media (min-width: 768px) {

}*/

/*
#navbarsExampleDefault{
    background-color: rgb(0, 238, 255) !important;
}*/


#custom_navbar{
    background-color: #772583 !important;
}

html {
    position: relative;
    min-height: 100%;
  }
body{
    height:100%;
    margin-top: 100px;
    margin-bottom: auto; /*210px;*/ /* Margin bottom by footer height */
    font-family: 'Work Sans';
}

/* Line change */
.card-body{
    white-space: pre-line;
}

.panel-group{
    margin-bottom: 10px;
}

#eventSignupButton{
    background-color: #772583 !important;
}

#index_login{
    display: flex;
    align-items: center;
}

.form-signin{
    margin-left: 2vh;
    margin-right: 2vh;
    width: 20em !important;
}
#index_login > .form-signin > .form-control{
    margin-bottom: 10px !important;
}
#index_login > .form-signin > .btn{
    background-color: #772583 !important;
}

/* EH: Added dropdownmenubutton id, added bg color */
#dropdown01, #dropdownMenuButton {
    color: white !important;
    background-color: #009ca7;
}

/* EH: All buttons by default color #009ca7 */
.btn, .btn-secondary {
    background-color: #009ca7;
}


#logo{
    /*background-size: 100%;*/
    height: 42px;
    width: 42px;
}

/* Header color */
a, h1, h2, h3, h4, h5, h6{
    color:#772583;
}

#logButton,
a[class='nav-link active']{
    background-color:#772583 !important;
    color: white !important; /* Added for maintenance view */
}

.form-control{
    margin-bottom: 12px;
}

/* footer stuff */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}
/*
section .section-title {
    text-align: center;
    color: #772583;
    margin-bottom: 50px;
    text-transform: uppercase;
}*/
/*#footer {
    position: fixed;
    height: 200px;
    bottom: 0;
    right: 0;
    left: 0;
    background: #772583 !important;
}*/
.footer {
    /*position: absolute;*/
    position: relative; /* absolute good for desktop, relative for mobile */
    clear: both;
    bottom: 0;
    width: 100%;
    height: auto; /*var(--margin-bottom-var);*/ /*Set the fixed height of the footer here */
    margin-top: -1 * auto;
    scroll-behavior: smooth;
    background: #772583 !important;
}

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
/*footer stuff end*/

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    }
    body{
        height:100%;
        margin-top: 100px;
        font-family: 'Work Sans';
        margin-bottom: auto; /* Auto fixes whitespace after footer, old value: 340px;*/ /* Margin bottom by footer height */
    }
}

/* Restrict textarea to parent */
textarea {
    max-width: 100%;
    max-height: 100%;
}

/* Editable page content max img size*/
#editableFrontPageContent img, #editableContactsPageContent img {
    max-height: 50%;
    max-width: 50%;
}

#accountPageContainer, #maintenanceContainer {
    margin-bottom: 3%;
}

/* event status images*/
.eventStatusImg {
    max-width : 24px;
    max-height : 24px;
    padding-right: 10px;
}