<b><span>Toimitusjohtaja</span></b><br><span></span>Pentti Esimerkki<br>erkki.esimerkki@kulttuurikimppa.fi<br>puh. 012 3456789<br><br><b><span>﻿</span></b><span><b><span>﻿Ylläpitäjä</span></b><br>Toinen Henkilö<br>toinen.henkilo@kulttuurikimppa.fi<br>puh. 023 4567890<br></span><br><br><br>